body {
<<<<<<< HEAD
  background-image: url('./images/giphy.gif');
=======
  padding-top: 4rem;
  background-image: url('./images/redbackground.jpg');
>>>>>>> aecaf4f15bc74a6bd1b6267aaf151f082583c189
  background-position: center;
  background-size: cover;
  height: 100vh;
    padding:0;
    margin:0;

}

.navbar {
  background: #222 !important;
}

.jumbotron {
  background-color: transparent !important;
}

.padding-top {
  padding-top: 5rem;
  height: 100%;
}

.gsc-control-cse {
  border-radius: 20px !important;
  background-color: red !important;
  border-color: red !important;
}

.cse .gsc-search-button-v2, .gsc-search-button-v2 {
  border-radius: 20px !important;
}

.gsc-input-box {
  border-radius: 20px !important;
  /* padding-top: 300px; */
}
