body {
  background: #222 !important;
}

.navbar {
  background: #222 !important;
}

.jumbotron {
  background-color: transparent !important;
}

.padding-top {
  padding-top: 5rem;
}

.gsc-control-cse {
  border-radius: 20px !important;
  background-color: red !important;
  border-color: red !important;
}

.cse .gsc-search-button-v2, .gsc-search-button-v2 {
  border-radius: 20px !important;
}

.gsc-input-box {
  border-radius: 20px !important;
}